<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6" style="text-align: center">
	<br>
	
	  <%= image_tag "fon_logo.png" %><br>
	    WayLeave Database
	    <hr>
	    <%= form_tag sessions_path do %>
		<p>
			<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">@</span>
			<%= text_field_tag :email, params[:email], class: 'form-control', placeholder: "Username" %>
			</div>
		</p><p>
			<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
			<%= password_field_tag :password , params[:password],class: 'form-control', placeholder: "*******" %>
			</div>
		</p>
		<p class="button"><%= submit_tag 'Login', class: 'btn btn-primary btn-md form-control' %></p>
	 <% end -%>
	  </div>
	  
<div class="col-md-4"></div>
</div>